<div class="card mb-2">
    <div class="card-header text-center">
       <strong>Araç Listesi</strong>
    </div>
    <div class="card-body">
   
    
<table>
    <thead>
        <tr>
            <th>Araç No</th>
            <th>Renk</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Günlük Ücret</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.carId}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}} ₺</td>
            <td>{{car.description}}</td>
        </tr>
    </tbody>
    </table>
    </div>
  </div>